{% extends "base.html" %}

{% block content %}
    <h1>Blogz</h1>
    <h2>Login</h2>

    <form method='post'>
    <body>
        <label for="name">                                                                                      
        Username: <input type="text"  name="name" value={{name}}>                                                                                 
        </label>
        <br>
        <label for="password">                                                                                      
        Password: <input type="password"  name="password" value={{password}}>{{no_match}}                                                                            
        </label>
        <br>                                                                                                                                                                                                                                                     
        <input type="submit" value="Login"/>                                                                        
    </form>   
    </body>
{% endblock %}